streamlit
streamlit-webrtc
streamlit-mic-recorder
sentence-transformers
qdrant-client
pandas
numpy
faster-whisper
soundfile
pydub
fastapi
uvicorn
python-multipart
edge-tts
openai
uuid
tqdm
rich
python-dotenv